#RESUMO

https://www.delftstack.com/pt/howto/python-pandas/how-to-filter-dataframe-rows-based-on-column-values-in-pandas/#selecione-linhas-de-pandas-com-valores-de-coluna-maior-ou-menor-do-que-o-valor-espec%25C3%25ADfico

Essa é um vetor unidimensional, similar às listas nativas de Python. Ou seja, uma lista de valores. Portanto, a Series possui um índice, chamado index que rotula cada elemento, e permite que ele seja acessado através desse índice.
Para exibir apenas os valores, basta chamar o atributo values do objeto.

nós podemos calcular a média e o desvio padrão de uma Series através dos métodos mean() e std(), e também calcular os valores máximo e mínimo de uma Series, através dos métodos max() e min()
 Por isso o pandas dispõe de um método bastante útil que calcula e exibe diversas medidas estatísticas de uma Series ao mesmo tempo, chamado describe().

s[6:].mean() -> ÚLTIMOS 6 MESES

A segunda estrutura de dados existente no pandas é o DataFrame. Estas são estruturas bidimensionais no formato de tabela, perfeitas para lidar com os dados tabulares que você estudou anteriormente. Então, assim como foi estudado, no DataFrame, cada linha representa uma observação; e cada coluna, uma variável dessa observação.
Forma mais simples é atraves de dicionários

In [ ]:
import pandas as pd

df = pd.DataFrame({'Aluno' : ['Marina','Felipe','Cleyton','Isabel'],
'Créditos cursados': [20,64,32,24],
'Rendimento acadêmico' : [8.55,7.88,8.17,9.04],
'Mês de nascimento' : ['Novembro','Setembro','Janeiro','Julho'],
'Curso': ['Computação','Estatística','Computação','Matemática']})

Podemos utilizar o index para acessar linhas específicas, entretanto devemos chamar o método iloc()
Um detalhe importante sobre DataFrames é que as colunas são formadas por Series. Isso significa que você pode selecionar as colunas individualmente e aplicar sobre elas os mesmos métodos utilizados em Series!

Um detalhe importante sobre DataFrames é que as colunas são formadas por Series. Isso significa que você pode selecionar as colunas individualmente e aplicar sobre elas os mesmos métodos utilizados em Series!
df[df['country'] == 'Brazil']

#OFICINA

In [ ]:
import pandas as pd

df = pd.read_csv('https://d11s0xq1vqg039.cloudfront.net/videos_conteudo/visual/micro01/oficina/arquivos/dadosoficina01.txt')

df.head()

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan              0  ...              0                           0.0
1      Albania             89  ...             54                           4.9
2      Algeria             25  ...             14                           0.7
3      Andorra            245  ...            312                          12.4
4       Angola            217  ...             45                           5.9

[5 rows x 5 columns]

In [ ]:
def data_beer():
  print('*** Informações cerveja ***')
  print('Média:',df['beer_servings'].mean())
  print('Desvio padrão:',df['beer_servings'].std())

def data_spirit():
  print('*** Informações lincor ***')
  print('Média:',df['spirit_servings'].mean())
  print('Desvio padrão:',df['spirit_servings'].std())

def data_wine():
  print('*** Informações vinho ***')
  print('Média:',df['wine_servings'].mean())
  print('Desvio padrão:',df['wine_servings'].std())


def total_alcohol():
  print('*** Total de alcool ***')
  print(df['total_litres_of_pure_alcohol'].sum())

def info_france():
  print('*** Consumo de lincor na França***')
  print(df[df['country'] == 'France']['spirit_servings'].sum())

def higher_consumption():
  print('*** 5 maiores consumidores de vinho ***')
  print(df.sort_values(by='wine_servings', ascending = False).head())


def consumption_beer_up():
  media = int(df['beer_servings'].mean())

  df_comparing = df['beer_servings'] > media
  filtered_df = df[df_comparing]

  print('*** Países com consumo acima da média ***')
  print(filtered_df['country'])

def comparing_alcohol():
  print('5. Os países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior são:')
  df2 = df[df['total_litres_of_pure_alcohol'] > df['total_litres_of_pure_alcohol'][df['country'] == 'Brazil'].max()]
  print(df2.sort_values(by='total_litres_of_pure_alcohol', ascending = True))

In [ ]:
data_beer()
data_spirit()
data_wine()
total_alcohol()
info_france()
higher_consumption()
consumption_beer_up()
comparing_alcohol()

*** Informações cerveja ***
Média: 106.16062176165804
Desvio padrão: 101.14310253931335
*** Informações lincor ***
Média: 80.99481865284974
Desvio padrão: 88.2843121096862
*** Informações vinho ***
Média: 49.45077720207254
Desvio padrão: 79.69759845763012
*** Total de alcool ***
910.4000000000001
*** Consumo de lincor na França***
151
*** 5 maiores consumidores de vinho ***
         country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
61        France            127  ...            370                          11.8
136     Portugal            194  ...            339                          11.0
3        Andorra            245  ...            312                          12.4
166  Switzerland            185  ...            280                          10.2
48       Denmark            224  ...            278                          10.4

[5 rows x 5 columns]
*** Países com consumo acima da média ***
3             Andorra
4              Angola
6           Argentina
8           Australia
9             Austria
            ...
182    United Kingdom
184               USA
185           Uruguay
188         Venezuela
189           Vietnam
Name: country, Length: 76, dtype: object
5. Os países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior são:
                country  ...  total_litres_of_pure_alcohol
132            Paraguay  ...                           7.3
35                Chile  ...                           7.6
188           Venezuela  ...                           7.7
143   St. Kitts & Nevis  ...                           7.7
159        South Africa  ...                           8.2
32               Canada  ...                           8.2
44               Cyprus  ...                           8.2
6             Argentina  ...                           8.3
179              Uganda  ...                           8.3
67               Greece  ...                           8.3
184                 USA  ...                           8.7
62                Gabon  ...                           8.9
180             Ukraine  ...                           8.9
124             Nigeria  ...                           9.1
121         New Zealand  ...                           9.3
120         Netherlands  ...                           9.4
57              Estonia  ...                           9.5
151              Serbia  ...                           9.6
9               Austria  ...                           9.7
138         South Korea  ...                           9.8
60              Finland  ...                          10.0
160               Spain  ...                          10.0
144           St. Lucia  ...                          10.1
166         Switzerland  ...                          10.2
42              Croatia  ...                          10.2
25             Bulgaria  ...                          10.3
8             Australia  ...                          10.4
140             Romania  ...                          10.4
182      United Kingdom  ...                          10.4
48              Denmark  ...                          10.4
16              Belgium  ...                          10.5
93               Latvia  ...                          10.5
156            Slovenia  ...                          10.6
135              Poland  ...                          10.9
136            Portugal  ...                          11.0
75              Hungary  ...                          11.3
65              Germany  ...                          11.3
99           Luxembourg  ...                          11.4
155            Slovakia  ...                          11.4
81              Ireland  ...                          11.4
141  Russian Federation  ...                          11.5
45       Czech Republic  ...                          11.8
61               France  ...                          11.8
68              Grenada  ...                          11.9
3               Andorra  ...                          12.4
98            Lithuania  ...                          12.9
15              Belarus  ...                          14.4

[47 rows x 5 columns]